* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0.5rem 5rem;
    align-items: center;
    box-shadow: 4px 1px 10px gray;
  }

  .nav-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .public-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px black;
    width: 80%;
    margin: 1rem auto;
    height: 6rem;
    padding: 1.5rem;
  }

  .book {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }

  .button {
    width: 70px;
  }

  .form {
    border: 1px solid green;
    width: 80%;
    margin: 1rem auto;
    padding: .3rem;
    text-align: center;
    border-radius: 2px;
    padding: .3rem;

  }

  .form-btn {
      padding: .3rem;

  }

  input {
    width: 40%;
    padding: .3rem;
  }