@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0.5rem 5rem;
  align-items: center;
  box-shadow: 4px 1px 10px gray;
}

.nav-menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.book {
  text-align: left;
  box-shadow: 1px 1px 5px black;
  margin: 1rem auto;
  height: 6rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
}

.button {
  width: 70px;
}

.form {
  border: 1px solid green;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 2px;
  padding: 0.3rem;
}

.form-btn {
  padding: 0.3rem;
}

input {
  width: 40%;
  padding: 0.3rem;
}

@tailwind utilities;
